{extends file="struct_top.html"}
<!--内容区域-->
{block name="content_left"}
{/block}
{block name="sidebar_top"}
<div class="box">
	<h3>光阴寸金</h3>
	<div class="box_content">
		<div style="overflow:hidden; height:67px;">
			<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" width="100%" height="100%" id="xt_home_map" align="middle">
				<param name="allowScriptAccess" value="sameDomain">
				<param name="allowFullScreen" value="false">
				<param name="movie" value="/static/images/home/clock.swf"><param name="quality" value="high"><param name="bgcolor" value="#ffffff">
				<param name="wmode" value="transparent">
				<embed src="/static/images/home/clock.swf" quality="high" bgcolor="#ffffff" width="100%" height="100%" wmode="transparent" name="xt_home_map" align="middle" allowscriptaccess="sameDomain" allowfullscreen="false" type="application/x-shockwave-flash" pluginspage="http://www.adobe.com/go/getflashplayer_cn">
				</object>
			</div>
		</div>
		<div class="box_bottom"></div>
	</div>
</div>
{/block}
