@charset "utf-8";

/* global */
@import url("global.css");


.innerBanner{height:370px;overflow:hidden;min-width:1107px;}
.bigTit{height:50px;line-height:50px;color:#073a8f;margin-bottom:10px;}
.bigTit em{font-family:simsun;padding:0 10px;color:#696969;}
.bigTit a{color:#393838;}
.bigTit *{vertical-align:middle;}

.indexBg{background-color:#f5f5f5;}

.fl{float:left;display:inline;}
.fr{float:right;display:inline;}


.fckBody h1{font-size:1.5em;}
.fckBody h2{font-size:1.4em;}
.fckBody h3{font-size:1.3em;}
.fckBody h4{font-size:1.2em;}
.fckBody h5{font-size:1.1em;}
.fckBody h6{font-size:1em;}
.fckBody em{font-style:italic;}
.fckBody h1,.fckBody h2,.fckBody h3,.fckBody h4,.fckBody h5,.fckBody h6 {margin:10px 0;font-weight:700;}

