.demo{width:800px;margin:20px auto;}
.demo h1{font-size:18px;height:28px;font-family:"微软雅黑","宋体";font-weight:normal;color:#3366cc;text-align:center;}
.demo h1 small{font-size:12px;font-style:normal;color:#5e5e5e;margin:0 0 0 20px;}

#preview{width:800px;height:510px;padding:5px;zoom:1;overflow:hidden;}
#spec-n1{float:left;margin:10px 20px;width:570px;height:400px;overflow:hidden;position:relative;z-index:5;zoom:1;}
#spec-n1 .o-img{width:570px;height:400px;text-align:center;}
#spec-n1 .switch{width:570px;height:400px;position:absolute;z-index:10;top:0;left:0;}
#spec-n1 img{max-width:570px;max-height:400px;_height:384px;}
#spec-n5{position:relative;float:right;width:174px;height:400px;margin-top:10px;zoom:1}
#spec-list{width:113px;height:400px;overflow:hidden;}
#spec-list ul{height:365px;overflow:hidden;margin-top:23px;}
#spec-list li{width:113px;height:90px;text-align:center;}
#spec-list li img{width:113px;height:81px;}
#spec-list .curr img{border:2px solid #1d4688;width:109px;height:77px;}
#spec-n5 .control{position:absolute;width:134px;height:20px;background-repeat:no-repeat;cursor:pointer;}
#spec-top{top:-2px;background:url(../images/about/icotop.jpg) no-repeat;}
#spec-bottom{bottom:-2px;background:url(../images/about/icobom.jpg) no-repeat;}
#intro{float:left;width:570px;height:50px;line-height:25px;text-align:center;overflow:hidden;font-size:14px;color:#222;margin-left:20px;}
#foward{display:block;width:285px;height:400px;float:left;cursor:url(../images/about/foward.ico),pointer;filter:alpha(opacity=0);-moz-opacity:0;opacity:0;}
#foward.disabled,#next.disabled{cursor:default;}
#next{display:block;width:285px;height:400px;float:right;cursor:url(../images/about/next.ico),pointer;filter:alpha(opacity=0);-moz-opacity:0;opacity:0;}
.thickcon{line-height:40px;text-align:center}

.thickdiv{display:none;position:fixed;top:0;left:0;z-index:10000001;width:100%;height:100%;background:#000;border:0;filter:alpha(opacity=15);opacity:.15;}
.thickbox{display:none;position:fixed;top:0;left:50%;z-index:10000002;overflow:hidden;padding:0 4px 4px 0;background:url(images/bg_shadow.gif) no-repeat -4px 0;margin-left:-175px;margin-top:180px;}
*html,*html body{background-image:url(about:blank);background-attachment:fixed;}
*html .thickbox{position:absolute;top:expression(eval(document.documentElement.scrollTop));}
.thicktitle{height:27px;padding:0 10px;border:solid #C4C4C4;border-width:1px 1px 0;background:#F3F3F3;line-height:27px;font-family:arial;font-size:14px;font-weight:bold;color:#333;}
.thickclose:link,.thickclose:visited{display:block;position:absolute;z-index:100000;top:7px;right:12px;overflow:hidden;width:15px;height:15px;background:url(images/bg_thickbox.gif) no-repeat 0 -18px;font-size:0;line-height:100px;}
.thickcon{overflow:auto;background:#fff;border:solid #C4C4C4;border-width:1px;padding:10px;}
*html .thickdiv{position:absolute;}

