@charset "utf-8";
/* CSS Document */
.pageBg{background:#f1f4fb;}
.bgw{background:#fff;}
.newsBg{background:url(../images/news/newsbg.jpg) no-repeat top center ;}
.contactBg{background: url(../images/contact/contactbg.jpg) no-repeat top center;}

.breakLink{color:#8d8d8d;}
.breakLink a.home{width:19px;height:15px; background:url(../images/news/home.png) no-repeat; display:block;float:left;margin-right:5px;}
.breakLink span{padding-left:10px;color:#fff;}
.breakLink .link{color:#e3e3e3;font-size:12px;margin:0 5px;}
.breakLink .bl{color:#073a8f;font-size:14px;padding-left:5px;}
.pageTitle{font-size:26px;color:#282828;}
.serviceBg{background-color:#f5f5f5;}

/*news*/
.newsBody{border:1px solid #e8e8e8;box-shadow:1px 1px 1px #ccc;}

.hNews{height:490px;overflow:hidden; position:relative;}
/*.hNews ul{position:absolute;top:30px;right:40px;z-index:100;}
.hNews ul li{float:left;margin-right:5px;}
.hNews ul li a{display:block;float:left;height:15px;width:15px;
	background:url(../images/news/pointer.png) no-repeat;}
.hNews ul li a:hover , .hNews ul li a.cur{background-position:-15px 0;}*/
.hNews .banner{padding-left:40px;padding-top:15px;}
.hNews .banner a{ text-decoration:none;}
.hNews .banner li{float:left;width:296px;height:310px;background:#ededed;margin-right:67px;}
.hNews .banner li .tu{ position:relative;width:296px;height:206px;}
.hNews .banner li .tu .bom{ position:absolute; top:0;left:0;}
.hNews .banner li .b_title{font-size:18px;color:#00328b;padding:5px 20px 0px 20px;}
.hNews .banner li .time{font-size:12px;color:#4f4f4f;padding:10px 20px;}
.hNews .banner .r{margin-right:0px;}
.bg_f2{background:#f2f2f2}

.hNews .pageTitle{padding-left:0px;}
.hNews .leftBtn{background:url(../images/news/leftbtn.jpg) no-repeat;width:50px;height:50px; position:absolute;left:0;top:230px;z-index:10;opacity:0.4;}
.hNews .leftBtn:hover{opacity:1;}
.hNews .rightBtn{background:url(../images/news/rightbtn.jpg) no-repeat;width:50px;height:50px; position:absolute;right:3px;top:230px;z-index:10;opacity:0.4}
.hNews .rightBtn:hover{opacity:1;}
.hNews .scrollBody{position:relative;height:400px;width:1104px;
	overflow:hidden;margin:20px 0;}
.hNews .scrollBody ul{height:400px;width:9999em;position:absolute;top:0;left:0;}
.hNews .scrollBody ul li{width:1104px;display:block;height:400px;overflow:hidden;float:left;
	background:#fff; position:relative;}
.hNews .scrollBody ul li img{width:653px;height:400px; float:left;}
.hNews .scrollBody ul li .rtbg{ position:absolute;top:0;left:467px;width:186px;height:400px;}
.hNews .scrollBody ul li .cont{float:left;width:400px;padding-left:40px;padding-top:50px;}
.hNews .scrollBody ul li .cont h3{font-size:32px;color:#063a8f;padding-bottom:5px;}
.hNews .scrollBody ul li .cont h4{font-size:14px;color:#999;padding-bottom:10px;}
.hNews .scrollBody ul li .cont p{color:#454545;font-size:14px;width:320px;line-height:25px;padding-bottom:20px;}
.hNews .scrollBody ul li .cont .dlink{border:3px solid #b2b2b2;border-radius:4px; width:110px;height:38px;display:block;line-height:38px;text-align:center;color:#7f7f7f;}
.hNews .scrollBody ul li .cont .dlink:hover{background:#697c9b;color:#fff; text-decoration:none;}
.newsSearch{height:67px;background:#697c9b;margin:10px 0px;overflow:hidden;}
.newsSearch span{float:left;line-height:37px;height:37px;}
.newsSearch select{margin-left:30px;margin-top:15px;border-right:1px solid #f0f0f0;height:37px;line-height:37px;
	border-top:0px;border-left:0px ;border-bottom:0px;width:130px;padding-left:10px;text-align:center;}
.newsSearch input{width:320px;height:37px;margin-top:15px;border:0px;padding-left:10px;color:#333;font-size:14px;}
.newsSearch .btn{width:77px;height:37px;margin-left:5px;background:#fff url(../images/news/search.jpg) no-repeat center center;border:0px;*margin-top:16px;}
.newsSearch .Keyword{color:#fff;margin:15px 30px;}
.newsSearch .Keyword a{color:#fff;margin:0 8px;}
.newsList{margin:0 auto;padding-bottom:60px;}
.newsList .num{color:#908f8f;border-bottom:1px dashed #000;line-height:30px;font-size:14px;padding-left:10px;}
.newsList ul li{border-bottom:1px dashed #000;padding-left:10px;}

.newsList ul li a:hover{text-decoration:none;}
.newsList ul li a:hover h4{font-weight:700;}

.newsList ul li h4{font-size:18px;color:#00328b;padding-bottom:7px;}
.newsList ul li h5{font-size:14px;color:#4e4e4f;padding-bottom:10px;}
.newsList ul li h6{font-weight:700;color:#565656;padding:15px 0 10px 0;}
.pagers{height:31px;margin:30px 0; clear:both;}
.pagers .fl a{font-size:14px;color:#363636;margin-right:5px;padding:0px 10px;line-height:31px;border:1px solid #d4d4d4; display:block;float:left;}
.pagers .fl a:hover,.pagers .fl a.cur{background:#435fa0;border:1px solid #435fa0;color:#fff; text-decoration:none;}
.pagers .fl .no{color:#c0c0c0;}
.pagers .fl .no:hover{border:1px solid #d4d4d4;color:#c0c0c0;background:#fff;}
.pagers .backToTop{ position:fixed;right:50px; bottom:50px;}


.newsDetail{padding:40px 0px 40px 40px; position:relative;}
.newsDetail .left{width:720px;padding-right:30px;border-right:1px solid #ccc;}
.newsDetail .left h4{font-size:26px;color:#282828;padding-bottom:10px;border-bottom:1px dashed #000;text-align:center;}
.newsDetail .left em{font-size:14px;text-align:center;}
.newsDetail .left .content{padding:25px 0px;}
.newsDetail .left .content p{font-size:14px;color:#4e4e4f;line-height:22px;}
.newsDetail .right{width:290px;margin-left:20px;}
.newsDetail .right ul li{padding-left:20px;margin-bottom:20px; background:url(../images/news/rightbg.png) no-repeat left 4px;margin-right:40px;}
.newsDetail .right ul li a{font-size:14px;color:#454545;}
.newsDetail .right p{ position:absolute;bottom:80px;}
.newsDetail .right p a{padding-left:15px; background:url(../images/news/top.png) no-repeat left top;color:#073990; text-decoration:none;}


/*contact*/
.contactBody{}
.add{padding:20px 40px;}
.add p{padding-left:30px;font-size:14px;color:#4e4e4f;line-height:22px;}
.add p a{margin-left:4px;}
.Branch{padding:10px 40px 60px 40px;}
.Bra_top{height:43px;background:#697c9b;line-height:43px;font-size:18px;color:#fff;padding-left:30px;}
.Bra_top span{float:right;margin:20px 30px; background: url(../images/contact/wj.jpg) no-repeat center right;width:22px;height:3px;
	display:none;}
.Branch .con{width:980px;padding-left:30px;}
.Branch .con ul li{height:68px;border-bottom:1px dashed #000;padding-top:30px;}
.Branch .con ul li table th{font-size:18px;color:#282828;width:170px;}
.Branch .con ul li table td{font-size:14px;color:#4e4e4f;line-height:22px;}
.Branch .con ul li table td a{margin-left:5px;}
.Branch .con .back{padding:15px 0px;}
.Branch .con .back a{position:fixed;right:50px; bottom:50px;}


/*solution*/
.solutionBanner{height:371px;background:url(../images/solution/banner.jpg) no-repeat center center;
	min-width:1107px;}
.solutionBody h3{font-size:24px;color:#073a8f;padding-bottom:10px;border-bottom:1px solid #ccc;}
.solutionBody p{font-size:18px;color:#073a8f;line-height:24px;padding-bottom:30px;}
.sB_link{height:72px;border-top:1px solid #e0e0e0;border-bottom:1px solid #e0e0e0;line-height:72px;}
.sB_link a{font-size:16px;color:#fff;padding:12px 0px 12px 20px;}
.sB_link a.w_256{padding-right:80px;background:#606b80 url(../images/solution/fh.png) no-repeat 240px center;margin-right:10px;}
.sB_link a.w_210{padding-right:80px;background:#606b80 url(../images/solution/fh.png) no-repeat 190px center;}
.solutionBody{margin-bottom:20px;}
.solutionBody ul{margin-top:20px;margin-bottom:30px;}
.solutionBody ul li{width:256px;height:290px;float:left;margin-right:26px;margin-bottom:20px; position:relative}
.solutionBody ul li a{ text-decoration:none;}
.solutionBody ul li.r{margin-right:0px;}
.solutionBody ul li .cont{ position:absolute; bottom:0;left:0;width:256px; background:url(../images/solution/b_bg.png) no-repeat;height:63px;}
.solutionBody ul li .cont .txt{font-size:16px;color:#fff;padding-left:10px;padding-top:10px;}
.solutionBody ul li .cont .txt h4{padding-top:5px;}
.solutionBody ul li .cont p{font-size:13px;color:#e0e0fa;line-height:20px;padding:10px 10px;display:none;height:80px; overflow:hidden;}
.solutionBody ul li .cont.cur{position:absolute; bottom:0;left:0;background:url(../images/solution/bl_bg.jpg) no-repeat left top;opacity:0.8;height:170px;filter:alpha(opacity=80);  }
.solutionBody ul li .cont.cur h4{padding-bottom:10px;}
.solutionBody ul li .cont.cur h5{padding-top:8px;}


.resBody{height:490px;background:#e1e6ea;overflow:hidden;}
.resBody h3{font-size:28px;color:#073a8f;text-align:center;padding:10px 20px 10px 20px; background: url(../images/solution/wx.png) no-repeat center center;margin-top:20px;}

.resBody .leftBtn , .resBody .rightBtn{font-size:80px;color:#999;font-family:simsun;font-weight:100;
	margin-top:140px;text-decoration:none;}
.resBody  .leftBtn:hover , .resBody .rightBtn:hover{color:#333;}
.resBody .scrollBody{position:relative;height:380px;width:941px;
	overflow:hidden;margin:10px 20px 0;}
.resBody .scrollBody ul{height:352px;width:9999em;position:absolute;top:0;left:0;}
.resBody .scrollBody ul li{width:941px;display:block;height:352px;overflow:hidden;float:left;
	background:#c4c4c4;}
.resBody .scrollBody ul li img{width:470px;height:352px; float:left;}
.resBody .scrollBody ul li .txCont{ float:left;width:408px;padding:55px 40px 0 20px;}
.resBody .scrollBody ul li .txCont h4{font-size:20px;color:#333;padding-bottom:8px;border-bottom:1px solid #333;padding-top:8px;}
.resBody .scrollBody ul li .txCont h5{font-size:16px;color:#fff;padding-bottom:15px;}
.resBody .scrollBody ul li .txCont p{font-size:14px;color:#333;line-height:22px;padding-bottom:18px;padding-top:10px;}
.resBody .scrollBody ul li .txCont a{font-size:16px;color:#fff;width:169px;height:35px;line-height:35px;
	background:#083a8f; display:block;text-align:center; text-decoration:none;}


.sDetailBanner{height:371px;background:url(../images/solution/dbanner.jpg) no-repeat center center;}
.solutionDet h3{font-size:32px;color:#073a8f;padding-bottom:20px;}
.solutionDet p{font-size:14px;color:#424242;line-height:24px;padding-bottom:50px;}
.solutionDet p a{color:#424242;text-decoration:underline;}
.soDeCont{height:auto;background:#e5e6e8;padding-top:40px;padding-bottom:30px;min-width:1107px;}
.soDeCont h3{font-size:28px;color:#40464e;padding-bottom:20px;}
.soDeCont h5{font-size:18px;color:#40464e;padding-bottom:10px;}
.soDeCont ul li{color:#333;font-size:14px;line-height:25px;padding-left:15px; background:url(../images/solution/yuan.png) no-repeat left 11px;padding-right:40px;width:500px;}
.soDeCont p img{margin-top:20px;}
.bg_f5{background:#f5f5f5;}


/*case*/
.caseBg .navBar{height:70px; background:url(../images/solution/navbr_bg.jpg) repeat-x;}
.caseBg .navBar li{float:left;width:144px;text-align:center;height:70px;}
.caseBg .navBar li:hover,.caseBg .navBar li.cur{ background:url(../images/solution/navcur.jpg) no-repeat;}
.caseBg .navBar li:hover a,.caseBg .navBar li.cur a{color:#fff;border-right:none;}
.caseBg .navBar li a{height:63px;border-right:1px solid #eee;display:block;line-height:63px;font-size:15px;color:#454545; text-decoration:none;}
.caBcon{padding:0 40px 0px;}
.caBcon h3{font-size:28px;color:#4b4b4b;padding-bottom:20px;}
.caBcon .intro{font-size:14px;line-height:23px;color:#4e4e4f;padding-bottom:30px;}


.tabTit{height:68px;}
.tabTit li{width:155px;height:68px;float:left; text-align:center;margin-right:2px;line-height:52px; cursor:pointer;display:none;}
.tabTit li a{border-top:1px solid #d9d9d9;border-left:1px solid #d9d9d9;border-right:1px solid #d9d9d9;width:153px;height:52px;display:block;background:#d9d9d9;
	color:#333;text-decoration:none;font-size:14px;}
.tabTit li.cur a{border-top:1px solid #1048a5;border-left:1px solid #1048a5; border-right:1px solid #1048a5;
	background-color:#1049a5;color:#fff;}
.tabTit li.cur{ background:url(../images/solution/jt.png) no-repeat center bottom;}
.tabCon{padding-top:20px;}
.tabCon ul li{float:left;margin-right:72px; position:relative; cursor:pointer;}
.tabCon ul li.r{margin-right:0px;}
.tabCon ul li p{ position:absolute; width:274px;font-size:16px;color:#fff; left:0;bottom:0;height:52px;padding-left:20px;line-height:52px; background:url(../images/solution/con_bg.png) repeat-x; cursor:pointer;}
.tabCon ul li p:hover,.tabCon ul li.cur p{background:#697d9b;}
.tabCon ul li.cur,.tabCon ul li.cur p{ cursor:auto;}
.tabCon .item{margin-bottom:15px;}
.tabCon .contTxt{height:124px;background:#697c9a;margin:30px 0; display:none;}
.tabCon .contTxt p{font-size:14px;color:#fff;padding:20px 20px 0px 20px;line-height:22px;width:900px;float:left;}
.tabCon .contTxt .close{float: right;font-size: 46px;color:#fff;margin-right:10px; cursor:pointer;}


.tabCon .pagers{height:31px;margin:30px 0; clear:both;}
.tabCon .pagers a{font-size:14px;color:#363636;margin-right:5px;padding:0px 10px;line-height:31px;border:1px solid #d4d4d4; display:block;float:left;}
.tabCon .pagers a:hover,.tabCon .pagers a.cur{background:#435fa0;border:1px solid #435fa0;color:#fff; text-decoration:none;}
.tabCon .pagers .no{color:#c0c0c0;}
.tabCon .pagers .no:hover{border:1px solid #d4d4d4;color:#c0c0c0;background:#fff;}


.newsBanner{background:url(../images/news/newsBanner.jpg) center no-repeat;}
.contactBanner{background:url(../images/contact/contactBanner.jpg) center no-repeat;}
.caseBanner{background:url(../images/solution/caseBanner.jpg) center no-repeat;}
.bg_e1e6ea{background-color:#f0f4fa;}



/*service*/
.serviceBanner{background:url(../images/service/serviceBanner.jpg) center no-repeat;}
.serviceBody{padding-bottom:40px;}
.serviceBody .h3_title{font-size:32px;color:#4371bb;text-align:center;padding-bottom:15px;font-weight:bold;}
.serviceBody .p_cont{color:#767676;font-size:15px; text-align:center;padding-bottom:20px;line-height:24px;}
.serviceBody .p_title{background:url(../images/service/service2.png) no-repeat;height:39px;margin:0 auto;width:618px;line-height:39px;color:#fff;
	font-size:14px; text-align:center;}
.serviceBody .serlist{height:228px;padding-top:40px;}
.serviceBody .serlist li{float:left;width:258px;height:228px;border:1px solid #eaeaea;margin-right:20px;}
.serviceBody .serlist .nor{margin-right:0px;}
.serviceBody .serlist li p{padding-left:20px;font-size:18px;color:#475d6f;padding-top:15px;}

.serviceBody2{padding-top:40px;padding-bottom:40px;height:470px;}
.serviceBody2 h3{text-align:center;font-size:32px;color:#4371bb;font-weight:bold;}
.serviceBody2 ul{width:812px;background:#fff url(../images/service/service2.jpg) no-repeat;padding-top:190px;margin:15px auto;border-bottom:1px solid #ececec;}
.serviceBody2 ul li{float:left;padding-left:20px;background:#fff;padding-bottom:20px;}
.serviceBody2 ul li h4{font-size:18px;color:#475d6f;padding-top:20px;}
.serviceBody2 ul li p{font-size:14px;line-height:23px;color:#333}
.serviceBody2 ul li p a{color:#333}
.serviceBody2 ul .l1{width:384px;border-left:1px solid #ececec;}
.serviceBody2 ul .l2{border-left:2px solid #ececec;border-right:1px solid #ececec;width:384px;}


/*join*/
.joinBanner{background:url(../images/join/joinBanner.jpg) center no-repeat;}
.joinBody_1{padding-bottom:40px;}
.joinBody_1 h3{color:#4371bb;font-size:32px;line-height:60px;text-align:center;font-weight:bold;}
.joinBody_1 p{font-size:14px;color:#767676;width:750px; text-align:center;margin:0 auto;padding-bottom:15px;line-height:25px;}
.joinBody_1 .cont1{width:920px;height:380px;background:url(../images/join/join_1.jpg) no-repeat; margin:0 auto;margin-top:20px;}
.joinBody_1 .cont1 h4{font-size:32px;text-align:center;color:#fff;width:150px;border-bottom:3px solid #fff;margin:0 auto;padding-bottom:10px;padding-top:100px;}
.joinBody_1 .cont1 p{color:#fff;font-size:22px;line-height:30px;padding-top:20px;}
.joinBody_2{height:525px;padding-top:40px;}
.joinBody_2 h3{font-size:32px;color:#4371bb;text-align:center;padding-bottom:20px;font-weight:bold;}
.joinBody_2 ul{margin:0 auto;width:950px;}
.joinBody_2 ul li{float:left;border:1px solid #d1d1d1;margin-left:20px;width:291px;background:#fff;height:400px;margin-bottom:50px;}
.joinBody_2 ul li .text{padding:15px 10px 0 18px;}
.joinBody_2 ul li .text h4{font-size:16px;color:#3f4857;padding-bottom:10px;font-weight:700;color:#4371bb;}
.joinBody_2 ul li .text p{color:#666;font-size:14px;line-height:20px;}
.joinBody_3{background:url(../images/join/joinbg.jpg) repeat-x;height:716px;}
.joinBody_3 .cont{margin:0 auto;text-align:center;}
.joinBody_3 .cont h3{padding-top:50px;color:#4371bb;font-size:32px;font-weight:bold; text-align:center;padding-bottom:40px;}
.joinBody_3 .cont p{font-size:14px;color:#767676;line-height:27px;padding-top:20px;padding-bottom:20px;}
.joinBody_3 .cont .job{height:44px;width:550px;margin:0 auto;}
.joinBody_3 .cont .job span{font-size:18px;line-height:44px;color:#536676;float:left;}
.joinBody_3 .cont .job a{width:124px;height:44px;line-height:44px;color:#063a8f;text-align:center;font-size:16px;text-decoration:none;display:block;border:1px solid #b0bfd9; border-radius:4px;margin-left:15px;}
.joinBody_3 .cont .job a:hover{color:#fff;background:#697c9b;}


.newsPage{background-color:#dadbdc;padding:15px;}
.newsPage p{line-height:24px;font-size:14px;color:#666;}
.newsPage p a{color:#333;}
.newsPage p a:hover{color:#073a8f;}

.returnBody{text-align:right;margin-top:10px;}
.returnBody .btn{display:inline-block;width:120px;height:30px;line-height:30px;text-align:center;
	color:#fff;font-size:14px;background-color:#bcbcbc;}
.returnBody .btn:hover{background-color:#073a8f;text-decoration:none;}
.returnBody .btn em{font-family:simsun;padding-left:5px;}

.caBcon h3{font-size:24px;color:#073a8f;padding-bottom:20px;}
.caseBody_new{background-color:#f6f6f6;height:480px;margin-top:-15px;padding-top:60px;}

.caseScroll{width:1107px;height:390px;overflow:hidden;background-color:#fff;margin:0 auto 30px;}
.caseScroll .case{height:390px;overflow:hidden;display:none;}
.caseScroll .case div.fl{width:520px;margin-left:30px;padding-top:50px;}
.caseScroll .case div.fl h3{color:#1049a5;padding:20px 0 10px;font-size:26px;}
.caseScroll .case div.fl h4{color:#333;font-size:16px;padding-bottom:20px;margin-bottom:20px;border-bottom:1px dotted #ccc;}
.caseScroll .case div.fl .con_new p{line-height:24px;font-size:14px;color:#666;padding-top:15px;}

.btnBody{text-align:center;margin-top:20px;width:1107px; position:relative;margin:0 auto;top:-280px;}
.btnBody .btn{font-size:60px;color:#666;font-family:simsun;font-weight:700;vertical-align:middle;top:40px;}
.btnBody .leftBtn{ position:absolute;left:0px;}
.btnBody .rightBtn{ position:absolute;right:0px;}
.btnBody .btn:hover{text-decoration:none;color:#1049a5;}
.btnBody span{vertical-align:middle; display:none;}
.btnBody span a{display:inline-block;width:12px;height:12px;background:url(../images/solution/pointer.png) no-repeat;
	vertical-align:middle;margin:0 5px;}
.btnBody span a:hover , .btnBody span a.cur{background-position:-12px 0;}


.tabList{height:50px;border-bottom:1px solid #08469c;margin-top:40px;}
.tabList dd{float:left;margin-right:10px;}
.tabList dd a{display:block;height:49px;line-height:49px;text-align:center;padding:0 30px;border:1px solid #ccc;
	color:#666;font-size:16px;border-bottom:0;font-weight:700;background-color:#f9f9f9;}
.tabList dd a:hover , .tabList dd a.cur{text-decoration:none;background-color:#08469c;color:#fff;border:1px solid #08469c;border-bottom:0;}

.searchCon{padding:20px 0px;}
.searchCon .con{display:none;}