*{padding: 0;margin: 0;}
html{overflow-y:hidden;}
body,input,textarea,select,button{ font: 12px Verdana, Lucida, Helvetica, Arial, sans-serif; color:#222;}
body{font-family:"微软雅黑";font-size: 14px;color:#444;width: 100%;background-color: #fff;}
a{text-decoration: none;}
/*头部样式*/
.header{height: 80px;background-color: #ccc;}
.header dl{height: 30px;padding-top: 50px;padding-left: 200px;}
.header dd{display: block;float: left;padding-left: 20px;}
.menu{float: left;}
.menu:hover{cursor: pointer;}
/*主体内容*/
.center-body{width: 100%;background-color: #fff;}
/*左侧菜单*/
.center-body table{ width:100%;border-collapse:collapse;}
.center-body table td{ float:left; }
.left-bar{background-color: #ddd;}
.left-bar dl{padding:18px;}
.left-bar dl dd {line-height:24px;border-bottom: 1px solid #aaa;text-align:center;}
.left-bar dl dd a{display:block;}
.left-bar dl dd a:active{font-color:#ccc;}
.left-bar dl dd:hover{background-color: #999;cursor: pointer;font-color:#fff;}
/*右侧内容*/
.main-div{background-color: #eee;overflow-y:scroll;}
