<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>系统管理后台</title>
<!--
<link rel="stylesheet" href="/static/style/common/bootstrap.css" />
<link rel="stylesheet" href="/static/style/admin/base.css" />
<script type="text/javascript" src="/static/js/lib/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/lib/sdmenu.js"></script>
-->
<link rel="stylesheet" href="/static/style/admin/base.css" />
<link href="/static/style/common/bootstrap.css" rel="stylesheet">
<script type="text/javascript" src="http://apps.bdimg.com/libs/seajs/2.3.0/sea.js"></script>
<script type="text/javascript" src="/static/js/sea.config.js"></script>
</head>
<body>
{block name="main-wrap"}{/block}
</body>
</html>
