<div id="my_menu" class="sdmenu">
	<div class="collapsed">
		<span>首页</span>
		<a href="/admin/">统计</a>
	</div>
	<div class="collapsed">
		<span>文章</span>
		<a href="/admin/article/lists">文章列表</a>
		<a href="/admin/article/add">添加文章</a>
		<a href="/admin/article/cat">文章分类</a>
		<a href="/admin/article/tree">树结构</a>
	</div>
	<div class="collapsed">
		<span>产品</span>
		<a href="/admin/product/lists">产品列表</a>
		<a href="/admin/product/add">添加产品</a>
		<a href="/admin/product/cat">产品分类</a>
		<a href="/admin/product/tree">树结构</a>
	</div>
	<div class="collapsed">
		<span>系统管理</span>
		<a href="/admin/system/menu">导航菜单</a>
		<a href="/admin/system/user/edit_pass">修改用户名</a>
		<a href="/admin/system/user/edit_pass">修改密码</a>
		<a href="/admin/system/site_set">网站设置</a>
		<a href="/admin/system/db_man">数据维护</a>
		<a href="/admin/system/single">单页管理</a>
		<a href="/admin/system/nav_img">首页动画</a>
		<a href="/admin/system/module">模块修改</a>
		<a href="/admin/system/evn" target="_blank">环境信息</a>
	</div>
</div>
