{extends file="../struct_content.html"}
{block name="title"}文章标题{/block}
{block name="content_left"}
<!--博客内容-->
<div class="fullbox">
	<div class="fullbox_content">
		<div class="fullbox_header"></div>
		<div class="breadcrumb"> 
			<a href="/">首页</a>
			<img src="http://www.nowamagic.net/librarys/application/views/veda/images/arrow.png" alt="">
			<a href="/">IT人家</a>
			<img src="http://www.nowamagic.net/librarys/application/views/veda/images/arrow.png" alt=""> 
			<a href="/">生活随笔</a>
		</div>
		<h1><a href="/">{$posts.title}</a></h1>
		<span class="vicetitle">{$posts.vicetitle}</span>
		<div class="post_info">
			<div class="post_info_left">
				<div class="nmtags" style="position: relative;">
					{foreach $tags as $v}
					<a href="/tag/show/{$v.tag_name}" rel="nofollow">{$v.tag_name}</a>
					{foreachelse}
					{/foreach}
				</div>
				<span>{if $posts.update_time}在 {$posts.update_time|date_format:'%Y年%m月%d日'} 那天修改{/if}</span></div>
			<div class="post_info_right">
				<span>{$posts.view_count} views</span>
			</div>
		</div>
		<div class="post_content">
			{if $posts.post_type}
			<div class="markdown-body">{$posts.content}</div>
			{else}
			{$posts.content}
			{/if}
		</div>
		<div class="fullbox_footer"></div>
	</div>
</div>
{/block}
