{extends file="../struct_content.html"}
{block name="title"}首页{/block}
{block name="content_left"}
<!--博客内容-->
{foreach $articles as $v}
<div class="fullbox">
	<h3>编程</h3>
	<div class="fullbox_content">
		<h1><a href="/article/show/{$v.id}">{$v.title}</a></h1>
		<span class="vicetitle">{$v.vicetitle}</span>
		<div class="post_info">
			<div class="post_info_left">
				<div class="nmtags" style="position: relative;">
					{foreach $tags[$v['id']] as $v1}
					<a href="/tag/show/{$v1}" rel="nofollow">{$v1}</a>
					{foreachelse}
					{/foreach}
				</div>
				<span>{if $v.update_time}在 {$v.update_time|date_format:'%Y年%m月%d日'} 那天修改{/if}</span></div>
			<div class="post_info_right">
				<span> {$v.view_count} views</span>
			</div>
		</div>
		<div class="post_content">
			{$v.summary_content}...
			<p class="morelink"><a href="/article/show/{$v.id}" class="more-link">阅读全文 &gt;&gt;</a></p> 
		</div>
		<div class="fullbox_footer"></div>
	</div>
</div>
{foreachelse}
暂无博文
{/foreach}

<div id="post-navigator">
	<div class="wp-pagenavi">
		<span class="pages">{$page} /  {$page_count}</span>
		{$page_links}
		<!--页码：<input class="page_input" type="text" value="1" onkeydown="javascript: if(event.keyCode==13){ location='/'+this.value+'';return false; }" title="输入您想要到达的页码">-->
		<!--<div class="page_clear"></div>-->
	</div>
</div>
<br/>
{/block}
