{extends file="../template.html"}
{block name="main-wrap"}
<input type="hidden" id="page" js="admin/article"/>
<link rel="stylesheet" type="text/css" href="/static/js/lib/fancybox/jquery.fancybox.css" />
<ul class="breadcrumb">当前位置：
	<a href="#">文章</a> <span class="divider">/</span>
	添加文章
</ul>
<div class="title_right">
	<span class="pull-right margin-bottom-5"><a  class="btn btn-info btn-small" href="/admin/article/add"><i class="icon-plus icon-white"></i>添加文章</a></span>
	<strong>添加文章</strong>
</div>
<div style="width:50%;float:left;">
	<table class="table table-bordered table-hover table-striped">
		<tbody>
		<tr align="center">
			<td width="15%"><strong>主标题</strong></td>
			<td width="85%"><input style="width:80%;margin:3px auto;" type="text" name="title" /></td>
		</tr>
		<tr align="center">
			<td width="15%"><strong>副标题</strong></td>
			<td width="85%"><input style="width:70%;margin:3px auto;" type="text" name="vicetitle" /></td>
		</tr>
		<tr align="center">
			<td width="15%"><strong>内容</strong></td>
			<td width="85%"><input type="text" name="vicetitle" /></td>
		</tr>
		</tbody>
	</table>
</div>
<div style="width:50%;float:left;">
</div>
<!--添加弹出框-->
<form id="add-form" style="display:none" action="/admin/article/cat/doadd">
	<strong>分类名称：　</strong><input type="text" name="name"/>
</form>
{/block}
