{extends file="../template.html"}
{block name="main-wrap"}
<input type="hidden" id="page" js="admin/article"/>
<link rel="stylesheet" type="text/css" href="/static/js/lib/fancybox/jquery.fancybox.css" />
<ul class="breadcrumb">当前位置：
	<a href="#">文章</a> <span class="divider">/</span>
	文章列表
</ul>
<div class="title_right">
	<span class="pull-right margin-bottom-5"><a  class="btn btn-info btn-small" href="/admin/article/add"><i class="icon-plus icon-white"></i>添加文章</a></span>
	<strong>文章列表</strong>
</div>
<div style="width:100%;float:left;">
	<table class="table table-bordered table-hover table-striped">
		<tbody>
			<tr align="center">
				<td width="15%"><strong>文章ID</strong></td>
				<td width="35%"><strong>标题</strong></td>
				<td width="15%"><strong>修改时间</strong></td>
				<td width="15%"><strong>创建时间</strong></td>
				<td width="20%"><strong>操作</strong></td>
			</tr>
			{foreach $posts as $v}
			<tr align="center">
				<td>{$v.id}</td>
				<td>{$v.title}</td>
				<td>{$v.update_time|date_format:'%Y-%m-%d %H:%M'}</td>
				<td>{$v.create_time|date_format:'%Y-%m-%d %H:%M'}</td>
				<td art_id="{$v.id}"><a href="/admin/article/edit/{$v.id}">修改</a> <a href="/admin/article/dodel/{$v.id}" class="del-link">删除</a></td>
			</tr>
			{foreachelse}
			<tr>
				<td colspan="4">暂无分类</td>
			</tr>
			{/foreach}
		</tbody>
	</table>
</div>
<!--添加弹出框-->
<form id="add-form" style="display:none" action="/admin/article/cat/doadd">
	<strong>分类名称：　</strong><input type="text" name="name"/>
</form>
{/block}
